div {
    background-color: teal;
}
h2 {
    color: black;
    font-size: 24px;
}
h2:hover{
color: white;
}
p {
    font-family: cursive;
    font-size: 28px;
    color: teal;
    background-color: black;
}
p:hover{
    color: white;
}
h1{
    background-color: orange;
}
body{
    background-color: yellow;
}
    
    